<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Flask File Uploads Tutorial</h1>

    <form method="post" enctype="multipart/form-data" id="uploadForm">
        {{ form.hidden_tag() }}
        {{ form.file.label }}
        {{ form.file }}
        {{ form.submit }}
    </form>

    {% if filename %}
        <p>Selected file: {{ filename }}</p>
        <p>{{ message }}</p>
        {% if js_download %}
            <script>
                document.getElementById("uploadForm").submit();  // Automatically submit the form to trigger download
            </script>
        {% endif %}
    {% endif %}
</body>
</html>